Language: Cpp
AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignFunctionDeclarations: false
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
AllowShortFunctionsOnASingleLine: InlineOnly
AttributeMacros:
BasedOnStyle: LLVM
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: Never
  AfterEnum: false
  AfterExternBlock: false
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakAfterAttributes: Always
BreakConstructorInitializers: BeforeComma
BreakFunctionDefinitionParameters: true
ColumnLimit: 100
CommentPragmas: ''
EnumTrailingComma: Insert
FixNamespaceComments: true
ForEachMacros:
IfMacros:
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '.*'
    Priority: 1
    SortPriority: 0
    CaseSensitive: true
IncludeIsMainRegex: ''
IncludeIsMainSourceRegex: ''
IndentExternBlock: NoIndent
IndentPPDirectives: AfterHash
IndentWidth: 4
InsertBraces: true
InsertNewlineAtEOF: true
KeepEmptyLines:
  AtEndOfFile: false
  AtStartOfBlock: false
  AtStartOfFile: false
LineEnding: LF
MacroBlockBegin: ''
MacroBlockEnd: ''
MaxEmptyLinesToKeep: 1
PackConstructorInitializers: Never
PointerAlignment: Left
PPIndentWidth: 2
SeparateDefinitionBlocks: Always
SpaceAfterCStyleCast: true
Standard: Latest
StatementAttributeLikeMacros:
StatementMacros:
TabWidth: 4
WhitespaceSensitiveMacros:
  - ASM
  - ASM_METHOD
